node_modules/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/capacitor-camera/
android/capacitor-filesystem/
android/.idea/
dist/
*.exe
*.zip
*.ico
.DS_Store
